.table{
    color: var(--dark-blue);
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2px;
    border-bottom: 1px solid var(--dark-gray-border);
margin-bottom: 10px;
}
.table tbody tr{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.table tbody tr td{
    flex: 1
}
.header{
    color: var(--dark-blue);
    font-weight:bold;
}
