.wrapper{
    padding: 20px;
}
.save{
    background-color: var(--button-green);
    color: white;
    border: 1px solid var(--button-green);
    border-radius: 3px;
    padding: 6px 8px 9px 8px;
}
.container{
    padding: 10px;
    max-width: 700px;
    margin: 20px 0;

    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 8, 15, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 8, 15, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 8, 15, 0.2);
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--light-blue-header);
    color: var(--dark-blue);
    border-color: var(--gray-border);
    font-weight:bold;
    padding: 15px;
    border-bottom: 1.5px solid var(--dark-gray-border);
}

.svgContainer{
    width: 20px;
    height: 20px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 522px) {
    .svgContainer{
        display: none;
    }
    .svgContainer svg{
        display: none;
    }
    .svgContainer svg g{
        display: none;
    }
}
@media (max-width: 335px) {
    .container{
        padding: 2px;
    }
}

@media (max-width: 298px) {
    .header{
        font-size: 0.8em;
    }
}
