.table{
    width: 100%;
    border: 1px solid var(--gray-border);
    border-collapse: collapse;
}
.table thead tr th{
    border: 1px solid var(--gray-border);
    border-bottom: 2px solid var(--dark-blue);
    height: 45px;
    color: var(--dark-blue);
    font-weight: bold;
}
.table thead tr{
    width: 100%;
}
.table tbody tr{
    height: 50px;
    width: 100%;
}
.table tbody tr td{
    border: 1px solid var(--gray-border);
    text-align: center;
    padding: 1%;
}
.table tbody tr:nth-child(odd) {
    background-color: var(--light-blue-bg);
}
.table tbody tr td:nth-child(1),
.table thead tr th:nth-child(1){
    width: 40%;
}
.table tbody tr td:nth-child(2),
.table thead tr th:nth-child(2){
    width: 10%;
}

.table td span{
    font-size: 0.7em;
}
.table tbody tr:last-child{
    height: 60px;
}
.table select{
    width: 96%;
    padding: 9px 2px;
    text-align: center;
}

.flex select{
    width: 81%;
    margin-right: 2px;
}

.table textarea{
    width: 96%;
}


@media (max-width: 407px) {
    .table th, .table td{
        font-size: smaller;
    }
}

@media (max-width: 317px) {
    .table th, .table td, .table select{
        font-size: 0.7em;
    }
}

@media (max-width: 298px) {
    .table th, .table td, .table select{
        font-size: 0.5em;
    }
}

.fillBtn{
    background-color: var(--dark-blue);
    width: 40px;
    height: 40px;
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.svgContainer{
    height: 30px;
    width: 30px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addSubgroup{
    background-color: white;
    border: none;
}

.table button:hover{
    cursor: pointer;
}